In [6]:
import pandas as pd
import matplotlib.pyplot as mplt
import seaborn as sns
import numpy as np

In [9]:
data=pd.read_csv(r'C:/Users/thesu/OneDrive/Documents/gamingstudy_data.csv',encoding = "ISO-8859-1", index_col='S. No.')

In [12]:
df = pd.DataFrame(data)

In [14]:
df.columns

Index(['Timestamp', 'GAD1', 'GAD2', 'GAD3', 'GAD4', 'GAD5', 'GAD6', 'GAD7',
       'GADE', 'SWL1', 'SWL2', 'SWL3', 'SWL4', 'SWL5', 'Game', 'Platform',
       'Hours', 'earnings', 'whyplay', 'League', 'highestleague', 'streams',
       'SPIN1', 'SPIN2', 'SPIN3', 'SPIN4', 'SPIN5', 'SPIN6', 'SPIN7', 'SPIN8',
       'SPIN9', 'SPIN10', 'SPIN11', 'SPIN12', 'SPIN13', 'SPIN14', 'SPIN15',
       'SPIN16', 'SPIN17', 'Narcissism', 'Gender', 'Age', 'Work', 'Degree',
       'Birthplace', 'Residence', 'Reference', 'Playstyle', 'accept', 'GAD_T',
       'SWL_T', 'SPIN_T', 'Residence_ISO3', 'Birthplace_ISO3'],
      dtype='object')

In [27]:
df_sample = df.drop(['Timestamp', 'GAD1', 'GAD2', 'GAD3', 'GAD4', 'GAD5', 'GAD6', 'GAD7',
       'GADE', 'SWL1', 'SWL2', 'SWL3', 'SWL4', 'SWL5', 'Game',
       'League', 'highestleague', 'streams','accept',
       'SPIN1', 'SPIN2', 'SPIN3', 'SPIN4', 'SPIN5', 'SPIN6', 'SPIN7', 'SPIN8',
       'SPIN9', 'SPIN10', 'SPIN11', 'SPIN12', 'SPIN13', 'SPIN14', 'SPIN15',
       'SPIN16', 'SPIN17','Residence_ISO3', 'Birthplace_ISO3'], axis=1)

In [28]:
df_sample

,Platform,Hours,earnings,whyplay,Narcissism,Gender,Age,Work,Degree,Birthplace,Residence,Reference,Playstyle,GAD_T,SWL_T,SPIN_T
S. No.,,,,,,,,,,,,,,,,
1,"Console (PS, Xbox, ...)",15.0,I play for fun,having fun,1.0,Male,25,Unemployed / between jobs,Bachelor (or equivalent),USA,USA,Reddit,Singleplayer,1,23,5.0
2,PC,8.0,I play for fun,having fun,1.0,Male,41,Unemployed / between jobs,Bachelor (or equivalent),USA,USA,Reddit,Multiplayer - online - with strangers,8,16,33.0
3,PC,0.0,I play for fun,having fun,4.0,Female,32,Employed,Bachelor (or equivalent),Germany,Germany,Reddit,Singleplayer,8,17,31.0
4,PC,20.0,I play for fun,improving,2.0,Male,28,Employed,Bachelor (or equivalent),USA,USA,Reddit,Multiplayer - online - with online acquaintanc...,0,17,11.0
5,"Console (PS, Xbox, ...)",20.0,I play for fun,having fun,1.0,Male,19,Employed,High school diploma (or equivalent),USA,South Korea,Reddit,Multiplayer - online - with strangers,14,14,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14246,"Console (PS, Xbox, ...)",40.0,I play for fun,improving,3.0,Male,22,Student at college / university,Master (or equivalent),France,France,Reddit,Multiplayer - online - with strangers,4,28,7.0
14247,PC,20.0,I play for fun,winning,2.0,Female,20,Student at college / university,High school diploma (or equivalent),USA,USA,Reddit,Multiplayer - online - with strangers,20,23,25.0
14248,PC,20.0,I play for fun,having fun,2.0,Male,19,Student at college / university,High school diploma (or equivalent),Norway,Norway,Reddit,Multiplayer - online - with real life friends,0,32,10.0
14249,"Console (PS, Xbox, ...)",5.0,I play for fun,having fun,2.0,Female,18,Student at school,High school diploma (or equivalent),Canada,Canada,Reddit,Singleplayer,13,16,32.0
14250,PC,15.0,I play for fun,improving,2.0,Male,19,Student at college / university,High school diploma (or equivalent),Canada,Canada,Reddit,Multiplayer - online - with strangers,2,25,14.0

In [32]:
df_sample.describe()

,Hours,Narcissism,Age,GAD_T,SWL_T,SPIN_T
count,13434.000000,13441.000000,13464.000000,13464.000000,13464.000000,12814.000000
mean,22.247357,2.027677,20.930407,5.211973,19.788844,19.848525
std,70.284502,1.061842,3.300897,4.713267,7.229243,13.467493
min,0.000000,1.000000,18.000000,0.000000,5.000000,0.000000
25%,12.000000,1.000000,18.000000,2.000000,14.000000,9.000000
50%,20.000000,2.000000,20.000000,4.000000,20.000000,17.000000
75%,28.000000,3.000000,22.000000,8.000000,26.000000,28.000000
max,8000.000000,5.000000,63.000000,21.000000,35.000000,68.000000

In [34]:
df_sample.head

<bound method NDFrame.head of                        Platform  Hours        earnings     whyplay  \
S. No.
1       Console (PS, Xbox, ...)   15.0  I play for fun  having fun
2                            PC    8.0  I play for fun  having fun
3                            PC    0.0  I play for fun  having fun
4                            PC   20.0  I play for fun   improving
5       Console (PS, Xbox, ...)   20.0  I play for fun  having fun
...                         ...    ...             ...         ...
14246   Console (PS, Xbox, ...)   40.0  I play for fun   improving
14247                        PC   20.0  I play for fun     winning
14248                        PC   20.0  I play for fun  having fun
14249   Console (PS, Xbox, ...)    5.0  I play for fun  having fun
14250                        PC   15.0  I play for fun   improving

        Narcissism  Gender  Age                             Work  \
S. No.
1              1.0    Male   25        Unemployed / between jobs
2              1.0    Male   41        Unemployed / between jobs
3              4.0  Female   32                         Employed
4              2.0    Male   28                         Employed
5              1.0    Male   19                         Employed
...            ...     ...  ...                              ...
14246          3.0    Male   22  Student at college / university
14247          2.0  Female   20  Student at college / university
14248          2.0    Male   19  Student at college / university
14249          2.0  Female   18                Student at school
14250          2.0    Male   19  Student at college / university

                                     Degree Birthplace    Residence Reference  \
S. No.
1                  Bachelor (or equivalent)        USA          USA    Reddit
2                  Bachelor (or equivalent)        USA          USA    Reddit
3                  Bachelor (or equivalent)    Germany      Germany    Reddit
4                  Bachelor (or equivalent)        USA          USA    Reddit
5       High school diploma (or equivalent)        USA  South Korea    Reddit
...                                     ...        ...          ...       ...
14246                Master (or equivalent)     France       France    Reddit
14247   High school diploma (or equivalent)        USA          USA    Reddit
14248   High school diploma (or equivalent)     Norway       Norway    Reddit
14249   High school diploma (or equivalent)     Canada       Canada    Reddit
14250   High school diploma (or equivalent)     Canada       Canada    Reddit

                                                Playstyle  GAD_T  SWL_T  \
S. No.
1                                            Singleplayer      1     23
2                   Multiplayer - online - with strangers      8     16
3                                            Singleplayer      8     17
4       Multiplayer - online - with online acquaintanc...      0     17
5                   Multiplayer - online - with strangers     14     14
...                                                   ...    ...    ...
14246               Multiplayer - online - with strangers      4     28
14247               Multiplayer - online - with strangers     20     23
14248       Multiplayer - online - with real life friends      0     32
14249                                        Singleplayer     13     16
14250               Multiplayer - online - with strangers      2     25

        SPIN_T
S. No.
1          5.0
2         33.0
3         31.0
4         11.0
5         13.0
...        ...
14246      7.0
14247     25.0
14248     10.0
14249     32.0
14250     14.0

[13464 rows x 16 columns]>

In [35]:
df_sample.isnull().sum()

Platform        0
Hours          30
earnings        0
whyplay         0
Narcissism     23
Gender          0
Age             0
Work           38
Degree          0
Birthplace      0
Residence       0
Reference      15
Playstyle       0
GAD_T           0
SWL_T           0
SPIN_T        650
dtype: int64

In [36]:
df_clean = df_sample.dropna()

In [37]:
df_clean.isnull().sum()

Platform      0
Hours         0
earnings      0
whyplay       0
Narcissism    0
Gender        0
Age           0
Work          0
Degree        0
Birthplace    0
Residence     0
Reference     0
Playstyle     0
GAD_T         0
SWL_T         0
SPIN_T        0
dtype: int64

In [39]:
df_clean.head

<bound method NDFrame.head of                        Platform  Hours        earnings     whyplay  \
S. No.
1       Console (PS, Xbox, ...)   15.0  I play for fun  having fun
2                            PC    8.0  I play for fun  having fun
3                            PC    0.0  I play for fun  having fun
4                            PC   20.0  I play for fun   improving
5       Console (PS, Xbox, ...)   20.0  I play for fun  having fun
...                         ...    ...             ...         ...
14246   Console (PS, Xbox, ...)   40.0  I play for fun   improving
14247                        PC   20.0  I play for fun     winning
14248                        PC   20.0  I play for fun  having fun
14249   Console (PS, Xbox, ...)    5.0  I play for fun  having fun
14250                        PC   15.0  I play for fun   improving

        Narcissism  Gender  Age                             Work  \
S. No.
1              1.0    Male   25        Unemployed / between jobs
2              1.0    Male   41        Unemployed / between jobs
3              4.0  Female   32                         Employed
4              2.0    Male   28                         Employed
5              1.0    Male   19                         Employed
...            ...     ...  ...                              ...
14246          3.0    Male   22  Student at college / university
14247          2.0  Female   20  Student at college / university
14248          2.0    Male   19  Student at college / university
14249          2.0  Female   18                Student at school
14250          2.0    Male   19  Student at college / university

                                     Degree Birthplace    Residence Reference  \
S. No.
1                  Bachelor (or equivalent)        USA          USA    Reddit
2                  Bachelor (or equivalent)        USA          USA    Reddit
3                  Bachelor (or equivalent)    Germany      Germany    Reddit
4                  Bachelor (or equivalent)        USA          USA    Reddit
5       High school diploma (or equivalent)        USA  South Korea    Reddit
...                                     ...        ...          ...       ...
14246                Master (or equivalent)     France       France    Reddit
14247   High school diploma (or equivalent)        USA          USA    Reddit
14248   High school diploma (or equivalent)     Norway       Norway    Reddit
14249   High school diploma (or equivalent)     Canada       Canada    Reddit
14250   High school diploma (or equivalent)     Canada       Canada    Reddit

                                                Playstyle  GAD_T  SWL_T  \
S. No.
1                                            Singleplayer      1     23
2                   Multiplayer - online - with strangers      8     16
3                                            Singleplayer      8     17
4       Multiplayer - online - with online acquaintanc...      0     17
5                   Multiplayer - online - with strangers     14     14
...                                                   ...    ...    ...
14246               Multiplayer - online - with strangers      4     28
14247               Multiplayer - online - with strangers     20     23
14248       Multiplayer - online - with real life friends      0     32
14249                                        Singleplayer     13     16
14250               Multiplayer - online - with strangers      2     25

        SPIN_T
S. No.
1          5.0
2         33.0
3         31.0
4         11.0
5         13.0
...        ...
14246      7.0
14247     25.0
14248     10.0
14249     32.0
14250     14.0

[12733 rows x 16 columns]>